{% extends 'dashboard/admin_dashboard.html' %}

{% block title %}Confirm Deletion | EduTrack{% endblock %}

{% block dashboard_content %}
<div class="pt-3 pb-2 mb-3 border-bottom border-secondary">
    <h1 class="h2 text-danger">Confirm Deletion</h1>
</div>
<div class="card p-4 border-danger">
    <p>Are you sure you want to delete "<strong>{{ object }}</strong>"? This action cannot be undone.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Yes, Delete Permanentely</button>
        <a href="javascript:history.back()" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
